[workspace.package]
version = "0.1.0"
edition = "2024"

[workspace]
resolver = "2"
members = [
    "src/catalog",
    "src/server",
    "src/sql"
]

[workspace.dependencies]
datafusion = "52.1.0"
datafusion-cli = "52.1.0"
sqlparser = "0.59.0"
tokio = { version = "1.0", features = ["rt-multi-thread", "tracing"] }
console-subscriber = "0.5.0"
serde = { version = "1.0.228", features = ["derive"] }
toml = "0.9.5"
futures = "0.3.31"
async-trait = "0.1.88"
iceberg = { git = "https://github.com/Smith-Cruise/iceberg-rust.git", rev = "204347a8e81c35baa76c3ec21346a2b708800891", features = ["storage-oss", "storage-s3"]}
iceberg-datafusion = { git = "https://github.com/Smith-Cruise/iceberg-rust.git", rev = "204347a8e81c35baa76c3ec21346a2b708800891", package = "iceberg-datafusion" }
#iceberg = { version = "0.8.0", features = ["storage-oss", "storage-s3"] }
#iceberg-datafusion = "0.8.0"
deltalake = { version = "0.31.0", features = ["datafusion", "s3"] }
deltalake-aws = "0.14.0"
dobbydb-catalog = { path = "src/catalog" }
dobbydb-server = { path = "src/server" }
dobbydb-sql = { path = "src/sql" }